<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styless.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/create"> Create acc</a>
        <a href="/listfootball"> Danh sách các sân bóng Hà Nội </a>
        <a href="/suggest">Lọc sân</a>
    </div>
    <!-- <div class="form-add-new">
        <form action = "/create-user" method = "POST">
            <fieldset>
                <legend>add new user</legend>
                <div class="input-group">
                    <label> Email: </label>
                    <input type="text" name = "email" />
                </div>
                <div class="input-group">
                    <label>Tên: </label>
                    <input type="text" name = "Tên"/>
                </div>
                <div class="input-group">
                    <label>city: </label>
                    <input type="text" name = "city" />
                </div>
                <div>
                    <button>Save</button>
                </div>
            </fieldset>
        </form>
    </div> -->
</body>
</html>