<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styless.css">
</head>
<body>
    <div>
        <h1 id ="second_heading">
            hello this my favourite photos
            <img src="./" alt="">
        </h1>
    </div>
    <div>
        ahihi
    </div>
</body>
</html>